@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-primary-hover: #4f46e5;
  --font-sans: "Inter", sans-serif;
  --font-display: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-100 antialiased font-sans;
  }
}
